body {
    font-family: Arial, sans-serif;
    background-color: #0f0f0f;
    color: #333;
    margin: 0;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #4A90E2;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    margin: 20px auto;
    max-width: 800px;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    max-width: 100%;
    max-height: 100%;
}

.video-container {
    margin: 20px 0;
}

video {
    max-width: 100%;
    height: auto;
    border: 2px solid #4A90E2;
    border-radius: 8px;
}

@media (max-width: 600px) {
    h1 {
        font-size: 24px;
    }
}

p{
    color: aliceblue;
}
